@model IEnumerable<Feedback_Information.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.commentdescrip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.commententrydate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.feedback)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.blogid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.commentdescrip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.commententrydate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.feedback)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.blogid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.commentid }) |
            @Html.ActionLink("Details", "Details", new { id=item.commentid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.commentid })
        </td>
    </tr>
}

</table>
